<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.username %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <p><strong>User Type</strong>: <%= user.usertype %></p>
              <p><strong>Service Type</strong>: <%= user.servicetype %></p>
              <p><strong>Urgency Type</strong>: <%= user.urgencytype %></p>
             <%= console.log(user)%>
             
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>

              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" id="address" name="address"></textarea>
              </div>
<div class="mb-3">
                  <label for="price" class="form-label">price</label>
                  <input type="text" class="form-control" id="price" name="price">
              </div>

              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled d-flex">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class=" justify-content-between mt-5" style= "width:200px">
            <a href="/post/<%= posts[i]._id%>">
              <img width="200" src="<%= posts[i].image%>">
            </a>
            <p><%= posts[i].title%></p>
            <p><%= posts[i].caption%></p>
            <p><%= posts[i].address%></p>
            <p>$<%= posts[i].price%></p> 
          

          </li>
        <% } %>
        </ul>
        
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>